<% if notice %><p id="notice"><%= notice %></p><% end %>
<h1><%= @garage.name %></h1>

<h2><i class="fa fa-flag-checkered"></i> Terminados</h2>
<h2><i class="fa fa-spinner fa-spin"></i> Trabajando</h2>
<h2><i class="fa fa-clock-o"></i> Pendientes</h2> 