// Place all the styles related to the defaults controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gradiente_rojo{
	background: #d63333; /* Old browsers */
	background: -moz-linear-gradient(top,  #d63333 0%, #ad3a3a 50%, #af0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d63333), color-stop(50%,#ad3a3a), color-stop(100%,#af0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d63333 0%,#ad3a3a 50%,#af0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d63333 0%,#ad3a3a 50%,#af0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d63333 0%,#ad3a3a 50%,#af0000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d63333 0%,#ad3a3a 50%,#af0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d63333', endColorstr='#af0000',GradientType=0 ); /* IE6-9 */
}
.gradiente_azul{
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 46%, #2989d8 50%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(46%,#207cca), color-stop(50%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 46%,#2989d8 50%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#207cca 46%,#2989d8 50%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 46%,#2989d8 50%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#207cca 46%,#2989d8 50%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
#first-row{
	#left-column{
		display:inline-block;
		margin: 0 15px;
	}
	#right-column{
		display:inline-block;
		margin: 0 15px;
	}
}
#second-row{
	text-align:center;
	ul{
		li{
			display:inline-block;
			margin: 5px 15px;
			a{
				padding: 5px 15px;
				background-color: red;
				@extend .gradiente_rojo;
				text-decoration: none;
				font-weight: 400;
				display: inline-block;
				color: white;
				font-weight: 400;
				border-radius: 6px;
				&:hover{
					@extend .gradiente_azul;
				}
			}
		}
	}
}